<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- Name of the robot description parameter -->
  <arg name="description_name"         default="to_description"/>
  <!-- Set robot description path -->
  <arg name="model"         default="$(find to_description)/urdf/to.urdf"/>
  <!-- Joint state topic name -->
  <!-- <arg name="joint_states_topic"       default="/joint_states"/> -->

  <param 
        name="robot_description" 
        command="$(find xacro)/xacro $(arg model)"
  />
  <!-- publicando states -->
  <node 
      pkg="robot_state_publisher" 
      type="robot_state_publisher" 
      name="rob_pub">
  </node>

  <node 
      pkg="joint_state_publisher_gui" 
      type="joint_state_publisher_gui" 
      name="joint_state">
      
  </node>
  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz"
  args="-d $(find to_description)/config/rviz/to_config_rviz.rviz"
        output="screen"/>

  <!-- ///////////////////////////////////////////////////////////////      -->
    <!-- Init Gazebo  -->
    <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch">

        <arg name="use_sim_time" value="true"/>
    </include>  -->

    <!-- Spawn of robot inside Gazebo -->
    <!-- <node 
        pkg="gazebo_ros" 
        type="spawn_model" 
        name="spawn_robot"
        respawn="false"
        args="  -param robot_description
                -urdf
                -model robot_prueba"
    /> -->
</launch>
